/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Your code starts here! */

* {
  display: inline-block;
  position: relative;
}

title {
  display: none;
}

.nav {
  display: inline-block;
  width: 1000px;
}

.nav li {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  left: 250px;
}

nav li:last-child {
  margin-right: 0;
}

header .logo {
  display: inline-block;
  cursor: pointer;
  margin-top: 25px;
}

.second-logo {
  cursor: pointer;
  left: 800px;
  bottom: 400px;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 100px;
  padding: 20px;
  top: 15px;
  left: 300px;
}

button {
  margin: 150px;
  padding: 10px;
  font-size: 20px;
  margin: 0;
  left: 460px;
  bottom: 40px;
}

h2 {
  bottom: 300px;
  left: 300px;
}

p {
  text-align: left;
  right: 50px;
  bottom: 200px;
  padding: 10px;
  left: 50px;
}

.middle-img {
  bottom: 100px;
  left: 200px;
}

h3 {
  right: 600px;
}

h4 {
  bottom: 221px;
  left: 725px;
}

h5 {
  left: 750px;
  bottom: 220px;
}

.one {
  top: 220px;
}

.two {
  top: 1px;
  left: 150px;
}

.three {
  top: 5px;
  left: 225px;
}

h6 {
  font-size: 15px;
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
  left: 200px;
}

address {
  top: 40px;
  left: 145px;
}

.footer {
  left: 0;
  top: 85px;
}

.copyright {
  left: 200px;
  top: 200px;
}
